argh==0.26.2
beautifulsoup4==4.4.1
colorama==0.3.7
cycler==0.10.0
Cython==0.24
docopt==0.6.2
gevent==1.1.1
greenlet==0.4.9
matplotlib==1.5.1
numexpr==2.5.2
numpy==1.11.0
ocropy==0.2
pathtools==0.1.2
Pillow==3.2.0
py==1.4.31
pyparsing==2.1.4
pytest==2.9.1
pytest-watch==4.1.0
python-dateutil==2.5.3
pytz==2016.4
PyYAML==3.11
scipy==0.17.1
six==1.10.0
tables==3.2.2
tqdm==4.7.0
ujson==1.35
watchdog==0.8.3
